
<h1>Create an Employee</h1>
<%= form_with model: @employee do |form| %>
  <%= form.collection_select :user_id, User.all, :id, :name  %>
  <%= form.collection_select :address_id, Address.all, :id, :street_address  %>
  <%= form.text_field :phone, placeholder: "phone" %>
  <%= form.text_field :email, placeholder: "email" %>
  <%= form.submit %>
<% end %>